.h1, h1{
  font-size: 32px;
}
@media (max-width : 992px){
  .navbar-brand{
    display: none;
  }
}
@media (min-width: 992px){
  .navbar-expand-lg{
    padding-left: 50px;
    padding-right: 50px;
  }
}

.contactUsFormRow{
  justify-content: center;
}
.contactUsFormRow  h1 {
  text-align: center;
}

.contactUsFormRow form{
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-right: -15px;
  margin-left: -15px;
  padding: 30px;
}

.loginForm{
  padding: 30px;
}

.countrySelect{
  width: 100%;
}

.countrySelect.invalid > div{
  border-color: #dc3545;
}
.countrySelect.valid > div{
  border-color: #28a745;
}